@use './_variables.scss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button,input[type="button"]{
  background-color: variables.$theme-color-primary;
  color: #fff;
}

.image-text{
  color: variables.$theme-color-text-primary;
  text-shadow: 1px 1px 3px #333;
}






